<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"content="ie=edge">
    <title>ToDo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <div>
        <form action="">
           <input type="text" name='item' placeholder="Add new todo" required/>
           <button type='submit'>Add</button>
        </form>
    </div>
    <ul>
        <% for ( var i = 0; i < todos.length; i++) { %>
            <li> <%= todos[i].item %> </li>
        <% } %>
    </ul>
</body>
</html>